<ion-list>

    <ion-item-sliding *ngFor="let todo of todoService.todos | completedFilter:completed">

        <ion-item-options side="start">
            <ion-item-option (click)="editTodo(todo)" color="warning">
                <ion-icon name="create" slot="icon-only"></ion-icon>
            </ion-item-option>
        </ion-item-options>


        <ion-item detail (click)="todoSelected( todo )">

            <ion-label>{{ todo.title }}</ion-label>
            <ion-note slot="end" color="primary">{{ todo.items.length }} items</ion-note>

        </ion-item>

        <ion-item-options side="end">
            <ion-item-option (click)="deleteTodos(todo)" color="danger">
                <ion-icon name="close" slot="icon-only"></ion-icon>
            </ion-item-option>
        </ion-item-options>
    </ion-item-sliding>

</ion-list>