<ion-header no-border>
    <ion-toolbar>

        <ion-buttons slot="start">
            <ion-back-button color="primary" defaultHref="/"></ion-back-button>
        </ion-buttons>

        <ion-title>{{ todo.title }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-list>
        <ion-item>
            <ion-label position="floating">Nuevo Item</ion-label>
            <ion-input [(ngModel)]="nameItem" type="text" (keyup.enter)="addItem()"></ion-input>
        </ion-item>
    </ion-list>

    <ion-list>

        <ion-list-header *ngIf="todo.items.length > 0">Tareas por hacer...</ion-list-header>

        <ion-item-sliding *ngFor="let item of todo.items; let i = index" class="animated fadeInDown">
            <ion-item>
                <ion-checkbox slot="start" color="primary" [(ngModel)]="item.completed" (ionChange)="changeCheck( item )"></ion-checkbox>
                <ion-label>{{ item.desc }}</ion-label>
            </ion-item>

            <ion-item-options side="end">
                <ion-item-option color="danger" (click)="deleteItem(i)">
                    <ion-icon name="close" slot="icon-only"></ion-icon>
                </ion-item-option>
            </ion-item-options>
        </ion-item-sliding>

    </ion-list>

</ion-content>