<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Completados
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <app-todos [completed]="true"></app-todos>

</ion-content>